.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 25px;
    color: white;
    background-color: black;
}

.Header a{
    font-size: 25px;
    text-decoration: none;
    margin: 0 5px;
    color: white;
}

.tools{
    display: flex;

}